.Main-container {
    display: flex;
    justify-content: center;      /* Centraliza horizontalmente */
    align-items: center;          /* Centraliza verticalmente */
    width: 45%;
    background-color: #000000; 
    box-sizing: border-box;
    color: aliceblue;
    border-radius: 40px;
    flex: 1; 
    box-shadow: 7px 8px 10px rgb(107, 107, 104);    /*Sombra*/
  }
  