.Main-container {
    display: flex;
    justify-content: center;      /* Centraliza horizontalmente */
    align-items: center;          /* Centraliza verticalmente */
    min-height: calc(100vh - 140px); /* altura da tela menos header e footer */
    width: 60%;
    background-color: #000000;
    padding: 10px 0;
    box-sizing: border-box;
    color: aliceblue;
    border-radius: 40px;
    flex: 1;
    box-shadow: 7px 8px 10px rgb(107, 107, 104);    
  }
  