  
  header {
    width: 99%;                        /* Ocupa toda a largura */
    background-color: #0072bb;          /* Azul padrão SENAI */
    color: rgb(255, 255, 255);                       /* Texto branco */
    padding: px ;                    /* Espaçamento interno */
    font-size: 1.6em;                   /* Tamanho de texto maior */
    font-weight: bold;                  /* Texto em negrito */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); /* Sombra abaixo do cabeçalho */
    border-radius: 40px;
  }

  